.tone-to-guess {
    font-family: 'ToneFont', sans-serif;
    font-size: 120px;
}

.fretboard {
    display: flex;
    justify-content: center;
    width: stretch;
    height: 210px;
}

.hidden {
    visibility: hidden;
}

.fret {
    width: 7.69%
}

.fret-0 {
    border: 1px solid #dee2e6;;
    border-right: 5px solid black !important;
}

.fret-marker {
    background-color: rgba(0, 0, 0, 0.1);
}